:root {
  --background-color: #27233a;
  --first-color: #505168;
  --second-color: #dcc48e;
  --btn-color: #505168;
}
body {
  background-color: var(--background-color);
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.board {
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  width: 30rem;
  height: 30rem;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--first-color);
}

.square {
  cursor: pointer;
  border-radius: 3px;
  width: 9rem;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-color);
  font-size: 2.5rem;
}

.btn-clear {
  background-color: var(--btn-color);
  color: var(--second-color);
  border: none;
  margin: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}
